.card {
    box-shadow: $shadow-card;
    max-width: 350px;
    width: 100%;
    max-height: 550px;
    height: 100%;

    margin: auto;

    &-date {
        position: absolute;
        width: 80%;
        background-color: $light;
        height: 70px;
        box-shadow: $shadow-card;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 47.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-top {
        position: relative;
        padding: 10px;
        border: 10px solid $light;
        width: 100%;
        max-height: 350px;
        height: 100%;
        text-align: center;

        .countdown {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            text-align: center;
            display: flex;
            justify-content: center;
            gap: 5px;

            .countdown-part {
                background-color: rgba(0, 0, 0, 0.75);
                color: white;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 1em;
            }
        }
    }

    &-body {
        text-align: left;
        border-top: 1px solid $gray-light;
        margin: 0 20px;
    }

    &-buttons {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin: 0 20px 20px 20px;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: none;

            p {
                margin: auto;
                padding: auto;
            }
        }

        .btn-gavel {
            width: 50px;
            height: 50px;
            background-color: $yellow;
        }

        .btn-heart {
            width: 30px;
            height: 30px;
            background-color: $dark;
            color: $light;

            p {
                font-size: 18px;
            }
        }
    }
}