.card {
    margin: auto;
    text-align: center;
    box-shadow: $shadow-card;
    margin-bottom: 1.5em;
    font-family: "Raleway", sans-serif;

    &-buttons {
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: .5em;
        margin: .5em;

        button {
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: $shadow-card;
        }

        .btn-gavel {
            background-color: $yellow;
            width: 50px;
            height: 50px;
        }

        .btn-heart {
            background-color: $red;
            width: 40px;
            height: 40px;
        }
    }

    &-date {
        position: absolute;
        background-color: $light;
        width: 90%;
        height: 70px;
        box-shadow: $shadow-card;
        top: 57.5%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-img-top {
        height: 300px;
        width: auto;
        margin: 10px;
        object-fit: cover;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .card {
        height: 300px;

        &-img-top {
            height: 100%;
        }

        &-body {
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
    }
}