#listingsCarousel {
    display: flex;
    max-height: 830px;
    height: 100%;
    align-items: center;
    background: url("../../../src/images/bidify_texture.png");
    background-size: contain;

    .carousel-indicators button {
        height: 14px;
        width: 14px;
        border-radius: 50%;
    }

    .carousel-inner {
        height: 100%;
    }

    h2 {
        font-family: "Roboto Slab", serif;
    }
}