.navbar {
    form {
        max-width: 672px;
        min-width: 240px;
    }

    input {
        height: 45px;
        border-radius: 25px;
    }
}

#createListingAccordion form {
    label {
        margin-bottom: 0;
    }

    textarea {
        resize: none;
        height: 250px;
    }

    button[type="submit"] {
        width: 110px;
    }

    button.input-group-text {
        max-width: 50px;
    }

    #addMediaButton, #addTagButton, .remove-input {
        width: 25px;
        height: 25px;
    }
}

#registerModal form, #loginModal form {
    width: 300px;

    div {
        padding-bottom: 6px;
    }

    input {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        border: 1px solid $gray-light;
    }

    label {
        margin-bottom: 2px;
    }

    button {
        width: 160px;
    }
}