.message-container {
    .message {
        padding: .25rem 1rem;
        text-align: center;
        width: fit-content;
        border-radius: 5px;
        background-color: white;
        font-weight: 600;
    }

    .success {
        border: 3px solid $success;
        color: $secondary;
    }

    .error {
        border: 3px solid $danger;
        color: $red;
    }

    .info {
        border: 3px solid $info;
        color: $info;
    }
}

.message-fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);

    &:hover p {
        cursor: pointer;
        border-color: $dark;
    }

    &:hover::before {
        content: "close";
        background-color: $danger;
        font-weight: 500;
        position: absolute;
        margin-top: -7.5%;
        border: 3px solid $dark;
        border-radius: 3px;
        padding: 0 .5em;
        cursor: pointer;
    }
}