#listingModal {
    .modal-content {
        max-height: 640px;
    }

    .carousel-indicators {
        position: relative;
        margin: 9px 0 0;
    }

    .media-carousel {
        height: 620px;

        .carousel {
            width: 100%;
    
            &-item {
                height: 540px;
            }

            &-thumbnail {
                height: 40px;
                width: 78px;
            }
        }
    }
}