html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.logo {
    width: 160px;
}

@media (max-width: 992px) {
    .logo {
        width: 150px;
    }
}

@media (max-width: 576px) {
    .logo {
        width: 140px;
    }
}