.create-listing {
    .accordion {
        max-width: 978px;
        margin-left: auto;
    }
}

#listingModal {
    #listingModalDescription {
        white-space: pre-wrap;
    }

    #listingModalMedia {
        .listing-card-top {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: auto;

            width: auto;
        }

        .countdown {
            display: flex;
            position: absolute;
            align-self: center;
            gap: 5px;
            bottom: 25px;
            left: 25px;
            z-index: 1;
    
            .countdown-part {
                backdrop-filter: blur(2px);
                background-color: rgba(0, 0, 0, 0.33);
                color: white;
                padding: 4px 8px;
                border-radius: 5px;
                font-size: 1.4em;
                height: fit-content;
    
                span {
                    font-size: .8em;
                }
            }
        }

        .listing-expired {
            margin: auto;
            text-align: center;
            justify-content: center;
            width: inherit;
            left: initial;
            bottom: initial;
            
            .countdown-part:first-of-type {
                font-size: 3.5rem;
                background-color: $danger;
                padding: .3em .9em;
                transform: rotate(-10deg);
            }
        }
    }
}

.listing-bid {
    .list-group-item {
        background-color: white;
    }
}

@media (min-width: 992px) {
    #listingModal {
        .countdown {
            bottom: 0;
            top: 25px;
        }

        .listing-expired {
            top: initial;
            bottom: initial;
        }
    }
}