$primary: #267942;
$secondary: #43A869;
$secondary-transparent: #43A8693b;
$blue: #5277FF;
$yellow: #FFC952;
$red: #FF5252;
$green: #195B33;
$danger: $red;
$warning: $yellow;
$info: $blue;
$dark: #272727;
$light: #F6F6F6;
$gray-dark: #9D9696;
$gray-light: #dddddd;

$body-color: $dark;
$body-bg: $light;

$accordion-button-bg: $dark;
$accordion-button-color: $light;
$accordion-button-active-bg: $dark;
$accordion-button-active-color: $light;
$accordion-icon-color: $light;
$accordion-icon-active-color: $light;
$accordion-icon-width: 2rem;
$accordion-border-radius: 0;

$card-border-radius: 0;
$card-border-color: none;
