$primary: #267942;
$secondary: #43A869;
$blue: #5277FF;
$yellow: #FFC952;
$red: #FF5252;
$green: #195B33;
$danger: $red;
$warning: $yellow;
$info: $blue;
$dark: #272727;
$light: #F6F6F6;
$gray-dark: #747474;
$gray-light: #9D9696;

$shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.25);
$shadow-md: 0 3px 8px rgba(0, 0, 0, 0.4);
$shadow-lg: 0 4px 15px rgba(0, 0, 0, 0.5);

$body-color: $dark;
$body-bg: $light;

$font-family-base: "Raleway", sans-serif;

$accordion-button-bg: $dark;
$accordion-button-color: $light;
$accordion-button-active-bg: $dark;
$accordion-button-active-color: $light;
$accordion-icon-color: $light;
$accordion-icon-active-color: $light;
$accordion-icon-width: 2rem;
$accordion-border-radius: 0;

$card-border-radius: 0;
$card-border-color: none;
