// Custom variables
@import "./variables";

// Bootstrap Sass
@import "../../node_modules/bootstrap/scss/bootstrap";

// Custom imports
@import "./base/page";
@import "./base/typography";
@import "./components/buttons";
@import "./components/forms";
@import "./components/carousel";
@import "./components/accordion";
@import "./components/card";
@import "./components/message";
@import "./components/modal";
@import "./components//alert";
@import "./layout/header";
@import "./layout/banner";
@import "./layout/listings";
@import "./layout/footer";
@import "./page/home";
@import "./page/profile";
